{% extends "base.html" %} 
{% load static %}
{% block title %}"servic datei"{% endblock title %}
{% block continer %}
<!-- detai section start -->
<div class="about_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="about_taital_main">
          <h1 class="about_taital">rota başlığı</h1>
          <p class="about_text">rota açıklamscadasdasdasdasd asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            adssssssssssssssssssa parasdasdasda asd asda asdas ad asd asda sd as </p>
          <div class="button_container">
            <a href="https://www.booking.com/city/jp/kyoto.html" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i> Konaklama Yerleri</a>
           <a href="https://tr.wikipedia.org/wiki/Kyoto" target="_blank" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Şehir Hakkında Bilgi</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding_right_0">
        <div><img src="{% static "images/caption.jpg" %}" class="about_img"></div>
      </div>
    </div>
  </div>
</div>
<div class="about_section layout_padding">
  <div class="container-fluid">
    <h1 class="about_taital text-center">İstanbul Seyahatinizin Olmazsa Olmazları</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 1" class="about_img">
          <h2 class="about_subtaital">Aktivite 1</h2>
          <p class="about_text">Aktivite 1 açıklaması... asdasdadsdsf
            dasdasdasdasdasdasda
            açıklamscadasdasdasdasd
            asds
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 2" class="about_img">
          <h2 class="about_subtaital">Aktivite 2</h2>
          <p class="about_text">Aktivite 2 açıklaması...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 3" class="about_img">
          <h2 class="about_subtaital">Aktivite 3</h2>
          <p class="about_text">Aktivite 3 açıklaması...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about_section layout_padding">
  <div class="container-fluid">
    <h1 class="about_taital text-center">İstanbul'da Popüler Aktiviteler</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 1" class="about_img">
          <h2 class="about_subtaital">Aktivite 1</h2>
          <p class="about_text">Aktivite 1 açıklaması...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 2" class="about_img">
          <h2 class="about_subtaital">Aktivite 2</h2>
          <p class="about_text">Aktivite 2 açıklaması...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 3" class="about_img">
          <h2 class="about_subtaital">Aktivite 3</h2>
          <p class="about_text">Aktivite 3 açıklaması...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="about_section layout_padding">
  <div class="container-fluid">
    <h1 class="about_taital text-center">İstanbul bölgesinde en çok tavsiye edilen etkinlikler</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 1" class="about_img">
          <h2 class="about_subtaital">Aktivite 1</h2>
          <p class="about_text">Aktivite 1 açıklaması...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 2" class="about_img">
          <h2 class="about_subtaital">Aktivite 2</h2>
          <p class="about_text">Aktivite 2 açıklaması...</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about_item text-center">
          <img src="{% static "images/caption.jpg" %}" alt="Aktivite Fotoğrafı 3" class="about_img">
          <h2 class="about_subtaital">Aktivite 3</h2>
          <p class="about_text">Aktivite 3 açıklaması...</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- detai section end -->
{% endblock continer %}